
*{
    font-family: sans-serif;
}
.navbar{
    display: flex;
    /* justify-content: space-between; */
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    margin: 0 0 0 .5%;
    width: 2.5%;
}

#mindFitImgBox{
    width: 5.3%;
    margin: 0 0 0 .65%;
    box-sizing: border-box;
    
}

#myPopup{
    position: absolute;
    display: none;
    width: 250px;
    height: 165px;
    margin: 0 0 0 38px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 7px 9px;
    
    animation: fadeIn  1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#myPopup::before{
     content: "";
  position: absolute;
  bottom: 99.9999%;
  left: 45%;
  margin-left: -14px;

  border-width: 14px;
 
  border-left: 15px;
  border-right: 15px; 
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: rotateZ(180deg);
}


#allImgs>div{
    box-sizing: border-box;
    padding: 22% 0 0 18%;
    cursor: pointer;
}

#allImgs>div:hover{
    opacity: 0.6;
}


.popImg1{
    width: 50%;
    height: 50%;
}

.popImg2{
   margin: 11.5% 0 0 15%;
}

.popText{
    font-size: .75vw;
    font-weight: 600;

}

.popText1{
    margin: 0 0 0 7%;
}

.popText2{
    margin: 0 0 0 11%;
}

.popText3{
    margin: 0 0 0 13%;
}

.popText4{
     margin: 0 0 0 11%;
     color: #ff0d9c;
}

.popText5{
    margin: 0 0 0 7%;
}



div{
    /* border: 1px solid black; */
}
#allImgs{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 100%;
}
.imgMF{
    width: 100%;
    height: 100%;
}
#downArrowBox{
    box-sizing: border-box;
    padding: 0 0 0 .3%;
}



/* div{
    border: 1px solid black;
} */
.icons{
    display: grid;
    width:35%;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 0 0 0 18%;
}

#therapyDiv{
    color: #404040; 
    box-sizing: border-box;
    padding: 5.6% 0 0 81% ;
    
}
#mindfulnessDiv{
    
    color: rgb(252, 46, 113);
    box-sizing: border-box;
    padding: 5.6% 0 0 31.5% ;
}

.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 14%;
    /* justify-content: space-between; */
    padding: 10px;
    margin: 0 0 0 20%;
}
.location{
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 5%;
    width: 40%;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
   
    box-sizing: border-box;
    
}
#nameCity{
    margin: 0 0 0 2%;
    font-size: 1vw;
    font-weight: rgb(51, 51, 51);
}

#loginBox{
    margin: 0 0 0 10%;
}

#addToCartBox{
    margin: 0 0 0 10%;
}

#th:hover , #mindFitImgBox:hover, #downArrowBox:hover{
    cursor: pointer;
}

#secondPart{
    overflow: scroll;
    height: 642px;
    margin: 8px -8px 0px -8px;
   
}

#grayBox{
    background-color: rgb(243, 243, 250);
    width: 100%;
    height: 6200px;
    padding-top:45px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
   display: none;
}



#mindLibText{
    width: 80%;
    margin: auto;
    font-size: 1.4vw;
    font-weight: 500;
    color: rgb(39, 39, 39);
}

#preRecText{
    width: 80%;
    margin: 4px auto auto auto;
    font-size: .9vw;
    font-weight: 200;
    color: rgb(144, 142, 142);
}


#allDivs{
    width: 80%;
    height: 6000px;
    margin: 35px auto auto auto;
    display: grid;
    grid-template-columns: 50% 50%;
   
}



.innerDiv{
    height: 91%;
    background-color: white;
    width: 97%;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 33% 67%;
}


span:hover{
    cursor: pointer;
}

.imgBox{
    width: 90%;
    height: 88.6%;
    margin: 7.5% 0 0 7.5%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

div{
    /* border: 1px solid black; */
}

.img{
    width: 100%;
    height: 100%;
}

.textDiv{
    width: 93%;
    height: 87.5%;
    margin: 4% 0 0 2.5%;
}

.headText{
    font-size: 1.3vw;
    font-weight: 600;
    color: rgb(0, 0, 0);
    height: 94%;
}

.desc{
    font-size: .9vw;
    font-weight: 200;
    margin: 42px 0 0 0;
    color: rgb(78, 78, 78);
    line-height: 18px;
    text-align: left;
}


.number{
    color: rgb(58, 58, 58);
    /* margin: 15.5% 0 0 0 ; */
    font-size: 1vw;
    font-weight: 200;
}
div{
    /* border: 1px solid black; */
}

 .innerDiv:hover{
     width: 96%;
     height: 89%;
     cursor: pointer;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
      transition: all .2s linear;
     
 }

 

 #care-17 {
            width:80%;
            margin: 3% auto auto auto;
            height:180px;
        }
        #care-17 > h1 {
            font-size: 1.5vw;
            color: #404040;
            letter-spacing:0.3px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        #care-17 > h2 {
            margin-bottom: 10px;
            font-size : 1.15vw;
        }
        #care-17a {
            width: 100%;
            border-bottom: 2px solid rgb(163, 163, 163);
            margin-bottom: 15px;
        }

         #care-17b {
            width: 100%;
            border-bottom: 1px solid rgb(163, 163, 163);
            margin-bottom: 15px;
        }

        #bigText{
            width: 80%;
            margin: 3% auto auto auto;
        }
        div{
            /* border: 1px solid black; */
        }

        #div1{
            margin-top: 50px;
             height: 300px;
        }

        #firstText{
            font-size: 4.75vw;
            color: rgb(110,110,110);
            font-weight: 600;
        }

         #secondText{
            font-size: 3.75vw;
            color: rgb(178, 178, 178);
            font-weight: 600;
        }

        #thirdText{
            font-size: 2.75vw;
            color: rgb(204, 204, 204);
            font-weight: 600;
        }


        
#footer {
    background-color: black;
    display: flex;
    gap: 100px;
    width: 100%;
    margin-top: 40px;
    height:350px;
  }
  .logo-footer {
    width: 800px;
    /* margin-left: 140px; */
    margin-top: 85px;
  }
  .text-Footer-P {
    color: #A2A2A2;
    text-align: left;
    line-height: 20px;
    font-family: 'BrandonTextWeb-Regular';
  }
  .logo-footer > img {
    width: 120px;
    margin-bottom: 20px;
  }
  .fText {
    font-size: 19px;
    text-align: right;
    color: white;
    line-height: 30px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
  }
  .right {
    display: flex;
    gap: 80px;
    margin-top: 80px;
    margin-right: 140px;
  }
  .playStore {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
  }
  .playStore > img {
    width: 160px;
  }  
  /* ---customer box part */
  #customerbox{
      width:100%;
      height:350px;
      /* border:1px solid black; */
  }
  .rouimg{
      border-radius: 50%;
  }
  #customerflex{
      width:90%;
      /* border:1px solid blue; */
      height:300px;
      margin: auto;
      display: flex;
  }
  /* #part1{
      width:40%;
      border:1px solid yellow;
      height: 300px;
      display: flex;
      padding: 30px;
  }
  #part2{
    width:30%;
    border:1px solid yellow;
    height: 300px;
    padding: 40px;
} */
   #customerflex > div{
       width:48%;
       /* margin:5%; */
       /* border:1px solid red; */
       display: flex;
       padding: 30px;
       padding-left: 30px;
   }
   .custpara{
       margin-left: 20px;
       font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
       color:rgb(67, 67, 67);
       font-size: 5vw;
    line-height: 1.7;
}
  .custpara > p{
      margin-bottom: 10px;
      color:rgb(67, 67, 67);
  }
  .speak{
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 20px;
    color:rgb(0, 0, 0);
    margin-left: 110px;
    margin-bottom: 5px;
  }
  .readmore{
      color:rgb(255, 50, 120);
      margin-left: 25px;
      font-size: 14px;
  }

  div{
      /* border: 1px solid wheat; */
  }
  .authorname{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    
    background-color: black;
    display: flex;
    gap: 100px;
    width: 100%;
    /* margin-top: 140px; */
    height:350px;
  }
  .logo-footer {
    width: 800px;
    /* margin-left: 140px; */
    margin-top: 85px;
  }
  .text-Footer-P {
    color: #A2A2A2;
    text-align: left;
    line-height: 20px;
    font-family: 'BrandonTextWeb-Regular';
    font-size: 1vw;
  }
  .logo-footer > img {
    width: 120px;
    margin-bottom: 20px;
  }
  .fText {
    font-size: 1vw;
    text-align: right;
    color: white;
    line-height: 30px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
  }
  .right {
    display: flex;
    gap: 80px;
    margin-top: 80px;
    margin-right: 140px;
  }
  .playStore {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
  }
  .playStore > img {
    width: 160px;
  }  
  /* ---customer box part */
  #customerbox{
      width:100%;
      height:350px;
      /* border:1px solid black; */
  }
  .rouimg{
      border-radius: 50%;
  }
  #customerflex{
      width:90%;
      /* border:1px solid blue; */
      height:300px;
      margin: auto;
      display: flex;
  }
  /* #part1{
      width:40%;
      border:1px solid yellow;
      height: 300px;
      display: flex;
      padding: 30px;
  }
  #part2{
    width:30%;
    border:1px solid yellow;
    height: 300px;
    padding: 40px;
} */
   #customerflex > div{
       width:48%;
       /* margin:5%; */
       /* border:1px solid red; */
       display: flex;
       padding: 30px;
       padding-left: 30px;
   }
   .custpara{
       margin-left: 20px;
       font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
       color:rgb(67, 67, 67);
       font-size: 16px;
    line-height: 1.7;
}
  .custpara > p{
      margin-bottom: 10px;
      color:rgb(67, 67, 67);
  }
  .speak{
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 20px;
    color:rgb(0, 0, 0);
    margin-left: 110px;
    margin-bottom: 5px;
  }
  .readmore{
      color:rgb(255, 50, 120);
      margin-left: 25px;
      font-size: 14px;
  }
  .authorname{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 30px;}

