
*{
    font-family: sans-serif;
}
.navbar{
    display: flex;
    /* justify-content: space-between; */
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    margin: 0 0 0 .5%;
    width: 2.5%;
}

#mindFitImgBox{
    width: 5.3%;
    margin: 0 0 0 .65%;
    box-sizing: border-box;
    
}
.imgMF{
    width: 100%;
    height: 100%;
}
#downArrowBox{
    box-sizing: border-box;
    padding: 0 0 0 .3%;
}

/* div{
    border: 1px solid black;
} */
.icons{
    display: grid;
    width:35%;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 0 0 0 18%;
}

#therapyDiv{
    color: #404040; 
    box-sizing: border-box;
    padding: 5.6% 0 0 81% ;
    
}
#mindfulnessDiv{
    
    color: rgb(252, 46, 113);
    box-sizing: border-box;
    padding: 5.6% 0 0 31.5% ;
}

.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 14%;
    /* justify-content: space-between; */
    padding: 10px;
    margin: 0 0 0 20%;
}
.location{
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 5%;
    width: 40%;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
   
    box-sizing: border-box;
    
}
#nameCity{
    margin: 0 0 0 2%;
    font-size: 1vw;
    font-weight: rgb(51, 51, 51);
}

#loginBox{
    margin: 0 0 0 10%;
}

#addToCartBox{
    margin: 0 0 0 10%;
}

#secondPart{
    overflow: scroll;
    height: 642px;
    margin: 8px -8px 0px -8px;
   
}

#grayBox{
    background-color: rgb(243, 243, 250);
    width: 100%;
    height: 6200px;
    padding-top:45px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
   display: none;
}



#mindLibText{
    width: 80%;
    margin: auto;
    font-size: 1.4vw;
    font-weight: 500;
    color: rgb(39, 39, 39);
}

#preRecText{
    width: 80%;
    margin: 4px auto auto auto;
    font-size: .9vw;
    font-weight: 200;
    color: rgb(144, 142, 142);
}


#allDivs{
    width: 80%;
    height: 6000px;
    margin: 35px auto auto auto;
    display: grid;
    grid-template-columns: 50% 50%;
   
}

#div1{
    height: 300px;
}

.innerDiv{
    height: 91%;
    background-color: white;
    width: 97%;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 33% 67%;
}


span:hover{
    cursor: pointer;
}

.imgBox{
    width: 90%;
    height: 88.6%;
    margin: 7.5% 0 0 7.5%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

div{
    /* border: 1px solid black; */
}

.img{
    width: 100%;
    height: 100%;
}

.textDiv{
    width: 93%;
    height: 87.5%;
    margin: 4% 0 0 2.5%;
}

.headText{
    font-size: 1.3vw;
    font-weight: 600;
    color: rgb(0, 0, 0);
    height: 94%;
}

.desc{
    font-size: .9vw;
    font-weight: 200;
    margin: 42px 0 0 0;
    color: rgb(78, 78, 78);
    line-height: 18px;
}


.number{
    color: rgb(58, 58, 58);
    /* margin: 15.5% 0 0 0 ; */
    font-size: 1vw;
    font-weight: 200;
}
/* 
 .innerDiv:hover{
     width: 96%;
     height: 89%;
     cursor: pointer;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
      transition: all .2s ease-in-out;
     
 } */