

.navbar{
    display: flex;
    /* justify-content: space-between; */
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    margin: 0 0 0 .5%;
    width: 2.5%;
}

#mindFitImgBox{
    width: 5.3%;
    margin: 0 0 0 .65%;
    box-sizing: border-box;
    
}
.imgMF{
    width: 100%;
    height: 100%;
}
#downArrowBox{
    box-sizing: border-box;
    padding: 0 0 0 .3%;
}

/* div{
    border: 1px solid black;
} */
.icons{
    display: grid;
    width:35%;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 0 0 0 18%;
}

#therapyDiv{
    color: #404040; 
    box-sizing: border-box;
    padding: 5.6% 0 0 81% ;
    
}
#mindfulnessDiv{
    
    color: rgb(252, 46, 113);
    box-sizing: border-box;
    padding: 5.6% 0 0 31.5% ;
}

.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 14%;
    /* justify-content: space-between; */
    padding: 10px;
    margin: 0 0 0 20%;
}
.location{
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 5%;
    width: 40%;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
   
    box-sizing: border-box;
    
}
#nameCity{
    margin: 0 0 0 2%;
    font-size: 1vw;
    font-weight: rgb(51, 51, 51);
}

#loginBox{
    margin: 0 0 0 10%;
}

#addToCartBox{
    margin: 0 0 0 10%;
}

