.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
}
.icons{
    display: flex;
    width:35%;
    justify-content: space-between;
    font-family: sans-serif;
}
.icons-div{
    box-sizing: border-box;
    font-size: 12px;
}
.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 10%;
    justify-content: space-between;
    padding: 10px;
}
.location{
    display: flex;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
    vertical-align: sub;
}