*{
    font-family: sans-serif;
}

.navbar{
    display: flex;
    /* justify-content: space-between; */
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    margin: 0 0 0 .5%;
    width: 2.5%;
}

#mindFitImgBox{
    width: 5.3%;
    margin: 0 0 0 .65%;
    box-sizing: border-box;
    
}
.imgMF{
    width: 100%;
    height: 100%;
}
#downArrowBox{
    box-sizing: border-box;
    padding: 0 0 0 .3%;
}


.icons{
    display: grid;
    width:35%;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 0 0 0 18%;
}

#therapyDiv{
    color: rgb(252, 46, 113);
    box-sizing: border-box;
    padding: 5.6% 0 0 81% ;
    
}
#mindfulnessDiv{
    color: #404040; 
    box-sizing: border-box;
    padding: 5.6% 0 0 31.5% ;
}

.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 14%;
    /* justify-content: space-between; */
    padding: 10px;
    margin: 0 0 0 20%;
}
.location{
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 5%;
    width: 40%;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
   
    box-sizing: border-box;
    
}
#nameCity{
    margin: 0 0 0 2%;
    font-size: 1vw;
    font-weight: rgb(51, 51, 51);
}

#loginBox{
    margin: 0 0 0 10%;
}

#addToCartBox{
    margin: 0 0 0 10%;
}

#th:hover , .img:hover, #mf:hover , .logo:hover{
    cursor: pointer;
}


/* 
SecondPart of my Page */

#secondPart{
    overflow: scroll;
    height: 639px;
    margin: 8px -8px 0px -8px;
   
}

::-webkit-scrollbar{
   display: none;
}

#careDiv{
    width: 100%;
    height: 160px;
}
.img{
    width: 100% ;
    height: 100%;
}


#bestDealBox{
    width: 100%;
    height: 300px;
}

#timerBox{
    width: 100%;
    height: 55px;
    background-color: rgb(236, 236, 236);
}



#helpYouBox{
    margin: 40px auto auto auto ;
    width: 74%;
    height: 80px;
}

#expertsDiv{
    height: 1125px;
    /* border: 1px solid red; */
    width: 74%;
    margin: 90px auto auto auto ;
}

#expertText{
    
    box-sizing: border-box;
    font-size: 1.5vw;
    font-weight: 600;
   
}

#allBoxes{
   
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 240px 240px 240px 240px ;
    grid-gap: 4%;
    border: none;
}

#allBoxes>div{
    border-radius: 10px;
}

#div1{
    height: 200px;
}



#allBoxes>div:nth-child(1){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/9355d11a-f088-4f10-b9df-72ea3ecf8e0b.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}

#allBoxes>div:nth-child(2){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/9ce1d9a2-d3c6-4a19-91bd-028d52f58c84.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(3){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/5e9f8ee5-83dd-4dca-beca-61885323ce3c.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(4){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/84248218-f8c0-44d8-b2d6-be415b742b9a.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(5){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/dcd1728e-d7dc-4952-b552-b1b1c97e9ac1.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(6){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/18a8d3b2-d262-4f78-908b-79a55a40ef68.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(7){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/1a2d8f7e-2c24-4cbf-88be-e2cf266dfa23.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(8){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/aebc57c2-ee58-41f7-a854-00fb5c5d55f9.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}



.textOnImgBox{
    width: 80%;
    height: 60%;
    margin: 3% 0 0 4%;
}

.headingTextBox{
    font-size: 1.3vw;
    font-weight: 600;
}

.line{
    width: 3%;
    height: 2px;
    margin: 15px 0 0 2px;
    background-color: #94a3ad;
}



.infoText{
    font-size: .72vw;
    font-weight: 600;
    margin: 15px 0 0 2px;
    color: #404040;
    width: 87%;
}

.timingBox{
   margin: 13px 0 0 7px; 
   display: flex;
}
.timingSec{
    font-size: .8vw;
    font-weight: 600;
    margin: 0 0 0 1%;
    box-sizing: border-box;
    color: #404040;
}

.priceBox{
   margin: 7% 0 0 4%;
   font-size: 1vw;
   font-weight: 600;
}

div{
    /* border: 1px solid black; */
}