*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    /* justify-content: space-between; */
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    margin: 0 0 0 .5%;
    width: 2.5%;
}

#mindFitImgBox{
    width: 5.3%;
    margin: 0 0 0 .65%;
    box-sizing: border-box;
    /* position: relative; */
    
}

/* arrow=> */
#myPopup{
    position: absolute;
    display: none;
    width: 250px;   
    height: 165px;
    margin: 0 0 0 38px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 7px 9px;
    
    animation: fadeIn  1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#myPopup::before{
     content: "";
  position: absolute;
  bottom: 99.9999%;
  left: 45%;
  margin-left: -14px;

  border-width: 14px;
 
  border-left: 15px;
  border-right: 15px; 
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: rotateZ(180deg);
}


#allImgs>div{
    box-sizing: border-box;
    padding: 22% 0 0 18%;
    cursor: pointer;
}

#allImgs>div:hover{
    opacity: 0.6;
}


.popImg1{
    width: 50%;
    height: 50%;
}

.popImg2{
   margin: 11.5% 0 0 15%;
}

.popText{
    font-size: .75vw;
    font-weight: 600;

}

.popText1{
    margin: 0 0 0 7%;
}

.popText2{
    margin: 0 0 0 11%;
}

.popText3{
    margin: 0 0 0 13%;
}

.popText4{
     margin: 0 0 0 11%;
     color: #ff0d9c;
}

.popText5{
    margin: 0 0 0 7%;
}




#allImgs{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 100%;
}



.imgMF{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#downArrowBox{
    box-sizing: border-box;
    padding: 0 0 0 .3%;

}



/* arrow=> */

.icons{
    display: grid;
    width:35%;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 0 0 0 18%;
}



#therapyDiv{
    color: rgb(252, 46, 113);
    box-sizing: border-box;
    padding: 5.6% 0 0 81% ;
    
}
#mindfulnessDiv{
    color: #404040; 
    box-sizing: border-box;
    padding: 5.6% 0 0 31.5% ;
}

.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 14%;
    /* justify-content: space-between; */
    padding: 10px;
    margin: 0 0 0 20%;
}
.location{
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 5%;
    width: 40%;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
   
    box-sizing: border-box;
    
}
#nameCity{
    margin: 0 0 0 2%;
    font-size: 1vw;
    font-weight: rgb(51, 51, 51);
}

#loginBox{
    margin: 0 0 0 10%;
}

#addToCartBox{
    margin: 0 0 0 10%;
}

#th:hover , .img:hover, #mf:hover , .logo:hover{
    cursor: pointer;
}


/* 
SecondPart of my Page */

#secondPart{
    overflow: scroll;
    height: 642px;
    margin: 8px -8px 0px -8px;
   
}

::-webkit-scrollbar{
   display: none;
}

#careDiv{
    width: 100%;
    height: 160px;
}
.img{
    width: 100% ;
    height: 100%;
}


#bestDealBox{
    width: 100%;
    height: 300px;
}

#timerBox{
    width: 100%;
    height: 55px;
    background-color: rgb(236, 236, 236);
    display: flex;
}



#tBox{
    width: 12%;
    height: 80%;
    vertical-align: middle;
     margin: .3% auto auto auto;
     display: grid;
     grid-template-columns: 30% 5% 30% 5% 30%;
}

.timerDiv{
    height: 70%;
    text-align: center;
    font-size: 1.35vw;
    font-weight: 600;
    box-sizing: border-box;
    padding: 12% 0 0 0;
}
.timerText{
    font-size: .75vw;
    font-weight: 500;
    color: rgb(152, 152, 152);
    text-align: center;
}
.dotText{
    font-size: 2vw;
    font-weight: 700;
    color:rgb(152, 152, 152) ;
}

#goArrow{
    padding: 1% 0 0 0;
    width: 3%;
    box-sizing: border-box;
}



.arrowImg{
    transform: rotateY(180deg);
    cursor: pointer;    
}

#helpYouBox{
    margin: 40px auto auto auto ;
    width: 74%;
    height: 80px;
}

#expertsDiv{
    height: 1125px;
    /* border: 1px solid red; */
    width: 74%;
    margin: 90px auto auto auto ;
}

#expertText{
    
    box-sizing: border-box;
    font-size: 1.5vw;
    font-weight: 600;
   
}

#allBoxes{
   
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 239px 239px 239px 239px ;
    grid-gap: 4%;
    border: none;
}

#allBoxes>div{
    border-radius: 10px;

}
#allBoxes>div:hover{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}





#allBoxes>div:nth-child(1){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/9355d11a-f088-4f10-b9df-72ea3ecf8e0b.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}

#allBoxes>div:nth-child(2){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/9ce1d9a2-d3c6-4a19-91bd-028d52f58c84.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(3){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/5e9f8ee5-83dd-4dca-beca-61885323ce3c.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(4){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/84248218-f8c0-44d8-b2d6-be415b742b9a.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(5){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/dcd1728e-d7dc-4952-b552-b1b1c97e9ac1.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(6){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/18a8d3b2-d262-4f78-908b-79a55a40ef68.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(7){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/1a2d8f7e-2c24-4cbf-88be-e2cf266dfa23.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}
#allBoxes>div:nth-child(8){
   background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/aebc57c2-ee58-41f7-a854-00fb5c5d55f9.png");
    background-size:contain;
    background-repeat: no-repeat;
   
}



.textOnImgBox{
    width: 80%;
    height: 60%;
    margin: 3% 0 0 4%;
}

.headingTextBox{
    font-size: 1.3vw;
    font-weight: 600;
}

.line{
    width: 3%;
    height: 2px;
    margin: 15px 0 0 2px;
    background-color: #94a3ad;
}



.infoText{
    font-size: .72vw;
    font-weight: 600;
    margin: 15px 0 0 2px;
    color: #404040;
    width: 87%;
}

.timingBox{
   margin: 13px 0 0 7px; 
   display: flex;
}
.timingSec{
    font-size: .8vw;
    font-weight: 600;
    margin: 0 0 0 1%;
    box-sizing: border-box;
    color: #404040;
}

.priceBox{
   margin: 7% 0 0 4%;
   font-size: 1vw;
   font-weight: 600;
}



#bookNowBox{
     width: 74%;
     height: 160px;
     margin: 80px auto auto auto;
     border-radius: 5px;
}

#onlineCons{
    width: 100%;
    height: 430px;
    background-color: rgb(203, 230, 255);
    margin: 80px 0 0 0;
    padding-top: 2%;
    box-sizing: border-box;
}

#div1{
    height: 500px;
}



#onlineConsHeading{
    
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
}

#ocText{
    color: rgb(136, 142, 158);
    text-align: center;
    font-size: 1.01vw;
    font-weight: 500;
    margin: .25% 0 0 0;
}

#packBox{
    width:45%;
    margin:1.5% auto auto auto ;
    display: grid;
    grid-template-columns: 40% 20% 40%  ;
    /* height: 30px; */
}

#whyPack{
    text-align: center;
    font-size: .95vw;
    font-weight: 600;

}



#threeDiv{
    margin: 40px auto auto auto ;
    width: 75%;
    height: 30px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#threeDiv>div{
    display: flex;
    font-weight: 100;
    font-size: 1vw;
    color: #616263;
}

.threeText{
    padding: .8% 0 0 0;
    box-sizing: border-box;
    margin: 0 0 0 1%;
}

.mr1{
    margin: 0 0 0 8%;
}

.mr2{
    margin: 0 0 0 23%;
}

.mr3{
    margin: 0 0 0 30%;
}



#selectText{
    margin: 2.5%  0 0 0 ;
    text-align: center;
    font-size: .95vw;
    font-weight: 600;
}

#priceBox{
    width: 80%;
    margin: 2% auto auto auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    height: 60px;
    grid-gap: 2%;

}
#priceBox>div{
    background-color:white;
    border-radius: 10px;
    border-bottom: 1px dashed black;
}
#priceBox>div:hover{
    cursor: pointer;
}
.monthsBox{
    display: flex;

}

.monthText{
    width: 80%;
}
.sessionText{
    width: 70%;
    font-size: .95vw;
    margin: 4% 0 0 5%;
    font-weight: 500;
}

.prText{
    font-size: .95vw;
    font-weight: 600;
    margin: 1% 0 0 6%;
}
.colour1{
    color: rgba(0,0,0,0.34);
}

.buyTextBox{
    margin:6% 0 0 6% ;
    font-size: 1vw;
    color: rgb(255, 50, 120);
    font-weight: 600;
}



#discBox{
    width: 80%;
    margin: 0 auto auto auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    height: 40px;
    grid-gap: 2%;
}

#discBox>div{
    background-color: rgb(216, 232, 255);
    border-radius: 10px;
}

.discTextBox{
    display: flex;
}
.disc20{
    font-size: .8vw;
    margin: 3% 0 0 1%;
}

#freeMed{
    width: 100%;
    height: 160px;
    margin: 40px 0 0 0;
}


/* faqBox=> */
#FAQsBox{
    /* height: 680px; */
    background-color: rgb(242, 244, 248);
    padding: 3% 0 0 0;
    box-sizing: border-box;
}

#faqText{
    margin:  auto ;
    width: 79%;
    display: flex;
}

#ft{
    font-size: 1.65vw;
    font-weight: 600;
}

#seeText{
    font-size: 1vw;
    font-weight: 600;
    color: rgb(255, 50, 120);
    margin: 0 0 0  88.5%;
    padding: 7px 0 0 0;
    box-sizing: border-box;
}
#seeText:hover{
    cursor: pointer;
}


#sevenQue{
    width: 79%;
    margin: 1.5% auto auto auto;
    font-weight: 600;
    color: rgb(106,106,106);
    font-size: 1.1vw;
}

#quesBox{
    width: 77.5%;
    margin: 2% auto auto 12%;

}

.ques{
    display: grid;
    height: 70px;
    cursor: pointer;
    grid-template-columns: 90% 8%;
    /* grid-gap: 20%; */

}
.ques1{
border-bottom: 1px solid rgb(212, 212, 212) ;
}

.panel{
        
    font-size: .9vw;
    color: rgb(136, 142, 158);
    font-weight: 500;
    width: 55%;
    margin: 0 0 0 2.5%;
    line-height: 20px;
    padding-bottom: 20px;
    
    }
    
    


   details>summary{
       list-style: none;
      
   }
  


    .yesNo{
        font-weight: 300;
        font-size: 1.1vw;
        margin: 20px 0 0 0;
        
    }

    .pinkC{
        color: rgb(255, 50, 120);
        cursor: pointer;
    }


.sid{
    width: 100%;
    display: list-item;
    margin: 0 0 0 2%;
    color:rgb(106,106,106) ;
    box-sizing: border-box;
    font-size: 1.2vw;
    padding: 2.3% 0 0 0 ;
    
    
}
.sid::before{
    content: "\2022";
    font-size: 1.75vw;
    color: rgb(106,106,106);
    position: relative;
    left: -1rem;
    top: .2rem;
}

.downArrowQue{
    width: 70%;
   /* transform: rotateZ(270deg); */
    margin: 0 0 0 2px;
}



.downArrowq{
     margin: 0 0 0 85%;
     box-sizing: border-box;
     padding: 25px 0  0 0 ;
}
/* faqBox=> */



   #bluebigdiv{
    width:100%;
    /* height:1300px; */
    background-color: rgb(242, 244, 248);
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}

#bigdi{
    width:82%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
#bigdi > div{
    width:48%;
}
#bluefirst > h5{
    font-size: .75vw;
    font-family: BrandonTextWeb-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;

}
#bluefirst > p{
    font-family: 'BrandonTextWeb-Regular';
    font-size: .84vw;
    color: #888e9e;
    padding:20px;
    line-height: 1.3;
}



#bluesecond > h5{
    font-size: .75vw;
    font-family: BrandonTextWeb-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;

}
#bluesecond > p{
    font-family: 'BrandonTextWeb-Regular';
    font-size: .84vw;
    color: #888e9e;
    padding:20px
}

#footer {
    background-color: black;
    display: flex;
    gap: 100px;
    width: 100%;
    /* margin-top: 140px; */
    height:350px;
  }
  .logo-footer {
    width: 800px;
    /* margin-left: 140px; */
    margin-top: 85px;
  }
  .text-Footer-P {
    color: #A2A2A2;
    text-align: left;
    line-height: 20px;
    font-family: 'BrandonTextWeb-Regular';
  }
  .logo-footer > img {
    width: 120px;
    margin-bottom: 20px;
  }
  .fText {
    font-size: 19px;
    text-align: right;
    color: white;
    line-height: 30px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
  }
  .right {
    display: flex;
    gap: 80px;
    margin-top: 80px;
    margin-right: 140px;
  }
  .playStore {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
  }
  .playStore > img {
    width: 160px;
  }  
  /* ---customer box part */
  #customerbox{
      width:100%;
      height:350px;
      /* border:1px solid black; */
  }
  .rouimg{
      border-radius: 50%;
  }
  #customerflex{
      width:90%;
      /* border:1px solid blue; */
      height:300px;
      margin: auto;
      display: flex;
  }
  /* #part1{
      width:40%;
      border:1px solid yellow;
      height: 300px;
      display: flex;
      padding: 30px;
  }
  #part2{
    width:30%;
    border:1px solid yellow;
    height: 300px;
    padding: 40px;
} */
   #customerflex > div{
       width:48%;
       /* margin:5%; */
       /* border:1px solid red; */
       display: flex;
       padding: 30px;
       padding-left: 30px;
   }
   .custpara{
       margin-left: 20px;
       font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
       color:rgb(67, 67, 67);
       font-size: 5vw;
    line-height: 1.7;
}
  .custpara > p{
      margin-bottom: 10px;
      color:rgb(67, 67, 67);
  }
  .speak{
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 20px;
    color:rgb(0, 0, 0);
    margin-left: 110px;
    margin-bottom: 5px;
  }
  .readmore{
      color:rgb(255, 50, 120);
      margin-left: 25px;
      font-size: 14px;
  }

 
  .authorname{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    
    background-color: black;
    display: flex;
    gap: 100px;
    width: 100%;
    /* margin-top: 140px; */
    height:350px;
  }
  .logo-footer {
    width: 800px;
    /* margin-left: 140px; */
    margin-top: 85px;
  }
  .text-Footer-P {
    color: #A2A2A2;
    text-align: left;
    line-height: 20px;
    font-family: 'BrandonTextWeb-Regular';
    font-size: 1vw;
  }
  .logo-footer > img {
    width: 120px;
    margin-bottom: 20px;
  }
  .fText {
    font-size: 1vw;
    text-align: right;
    color: white;
    line-height: 30px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
  }
  .right {
    display: flex;
    gap: 80px;
    margin-top: 80px;
    margin-right: 140px;
  }
  .playStore {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
  }
  .playStore > img {
    width: 160px;
  }  
  /* ---customer box part */
  #customerbox{
      width:100%;
      height:350px;
      /* border:1px solid black; */
  }
  .rouimg{
      border-radius: 50%;
  }
  #customerflex{
      width:90%;
      /* border:1px solid blue; */
      height:300px;
      margin: auto;
      display: flex;
  }
  /* #part1{
      width:40%;
      border:1px solid yellow;
      height: 300px;
      display: flex;
      padding: 30px;
  }
  #part2{
    width:30%;
    border:1px solid yellow;
    height: 300px;
    padding: 40px;
} */
   #customerflex > div{
       width:48%;
       /* margin:5%; */
       /* border:1px solid red; */
       display: flex;
       padding: 30px;
       padding-left: 30px;
   }
   .custpara{
       margin-left: 20px;
       font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
       color:rgb(67, 67, 67);
       font-size: 16px;
    line-height: 1.7;
}
  .custpara > p{
      margin-bottom: 10px;
      color:rgb(67, 67, 67);
  }
  .speak{
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 20px;
    color:rgb(0, 0, 0);
    margin-left: 110px;
    margin-bottom: 5px;
  }
  .readmore{
      color:rgb(255, 50, 120);
      margin-left: 25px;
      font-size: 14px;
  }
  .authorname{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 30px;}


    