*{
    font-family: sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px 0px;
    box-sizing: border-box;
}
.icons{
    display: grid;
    width:35%;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#therapyDiv{
    color: rgb(252, 46, 113);
    box-sizing: border-box;
    padding: 5.6% 0 0 81% ;
    
}
#mindfulnessDiv{
    color: #404040; 
    box-sizing: border-box;
    padding: 5.6% 0 0 31.5% ;
}

.head{
    margin: 0;
}
.images{
    width: 1.5rem;
    height: 1.5rem;
}
.login{
    display: flex;
    width: 10%;
    justify-content: space-between;
    padding: 10px;
}
.location{
    display: flex;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(15, 209, 255);
    vertical-align: sub;
}

/* div{
    border: 1px solid black;
} */