 /* *{
            border: 1px solid black;
        } */
        .bg {
            padding-left: 10px;
            display: flex;
            width: 80%;
            height: 470px;
            margin: auto;
            box-sizing: border-box;

        }

        .bg>div {
            height: 470px;
            margin: -4px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            transition: 0.8s;
        }

        .bg1 {
            
            width: 60%;
            background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/d2ceda2f-0362-43f6-9a5a-d1c57f54e7f9.png");
            background-size: auto 100%;
            box-sizing: border-box;
            background-position-x: 80%;
            background-position-y: center;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .bg2 {
            width: 20%;
            background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/0fedd809-8ebf-4c79-8306-0207522155fe.png");
            background-size: auto 100%;
            background-position-x: 80%;
            background-position-y: center;
        }

        .bg3 {

            width: 20%;
            background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/4041957e-947a-4cba-b9ac-940316910888.png");
            background-size: auto 100%;
            background-position-x: 80%;
            background-position-y: center;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        .bg1 .txt{
            visibility: visible;
        }
        .txt{
            visibility: hidden;
            width: 51%;
            padding-left: 30px;
        }
        .txt-btn{
            background: none;
            border: none;
            border: 1px solid black; 
            padding: 0.4rem;
            border-radius :20px;
        
        }
        .txt-btn:hover{
            transform: translateY(-5px);
            transition: 300ms;
        }
        .heading{
            padding: 30px 0 0 30px ; 
        }
        #dis{
            visibility:visible;
        }
       #hid{
           visibility:hidden;
       }

       .trans {
        padding-left: 10px;
        display: flex;
        width: 80%;
        height: 470px;
        margin: auto;
        box-sizing: border-box;

    }

    .trans>div {
        height: 470px;
        margin: -4px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        transition: 0.8s;
    }

    .trans1 {
        
        width: 60%;
        background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png");
        background-size: auto 100%;
        box-sizing: border-box;
        background-position-x: 80%;
        background-position-y: center;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .trans2 {
        width: 20%;
        background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/f66c717a-bcb9-4d64-b227-115d1010b610.jpeg");
        background-size: auto 100%;
        background-position-x: 80%;
        background-position-y: center;
    }

    .trans3 {

        width: 20%;
        background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/aedcb538-777e-4564-b422-30eb8dc220d2.png");
        background-size: auto 100%;
        background-position-x: 80%;
        background-position-y: center;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .tr {
        padding-left: 10px;
        display: flex;
        width: 80%;
        height: 470px;
        margin: auto;
        box-sizing: border-box;

    }

    .tr>div {
        height: 470px;
        margin: -4px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        transition: 0.8s;
    }

    .tr1 {
        
        width: 60%;
        background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/5c333536-cc72-4e5a-8648-9dcb8006f7c0.png");
        background-size: auto 100%;
        box-sizing: border-box;
        background-position-x: 80%;
        background-position-y: center;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .tr2 {
        width: 20%;
        background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/631e1299-7ad1-4e06-b410-f77671c2c540.png");
        background-size: auto 100%;
        background-position-x: 80%;
        background-position-y: center;
    }

    .tr3 {

        width: 20%;
        background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/dec83eee-b999-4058-ac0f-6d346b8d071a.png");
        background-size: auto 100%;
        background-position-x: 80%;
        background-position-y: center;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

       